{% extends "base-template.html" %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="one-half column" style="margin-top: 25%">
        <h4>This is About Page</h4>
        <p><a href="/">Go to Home Page</a></p>
        </div>
    </div>
</div>

{% endblock %}