{% extends "base-template.html" %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="one-half column" style="margin-top: 25%">
        <h4>This is Home Page</h4>
        <p><a href="about">Go to About Page</a></p>
        </div>
    </div>
</div>

{% endblock %}